@import url('https://fonts.googleapis.com/css?family=Aleo|Fredoka+One');

$MainColors1: rgb(248, 248, 248);
$MainColors2: #04cc7c;
$BoxShadowsColors: rgba(0,0,0,0.16);
$Offset: rgba(0,173,249,0.04);


.Main-Background{
    background-image: linear-gradient(to bottom right,#28F3A2,#27E59A,#21FF64);
    width: 100%;
    height: 925px;
}
.Main-Title{
    font-size: 68px;
    text-align: center;
    color: $MainColors1;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}
.Main-subtitle{
    color: $MainColors1;
    font-size: 40px;
    text-align: center;
    font-family: 'Aleo', serif;
    font-weight: normal;
}

.Main-login{
    width: 450px;
    height: 480px;
    background-color: white;
    border-radius: 38px;
    box-shadow: 8px 8px 6px $BoxShadowsColors;
}
.Main-res{
    position: relative;
    top: 25px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $MainColors2;
    font-size: 20px;
    font-family: 'Aleo', serif;
}
.offset{
    background-color: $Offset;
    width: 100%;
    height: 100%;
}
.Main-Text{
    text-align: center;
    color: $MainColors2;
    font-size: 50px;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.Main-Input-text{
    text-align: center;
    color: $MainColors2;
    font-size: 39px;
    font-family: 'Aleo', serif;
    display: block;
}
.Main-Input{
    box-shadow: 1px 3px 6px $BoxShadowsColors;
}
.Main-button{
    background-color: $MainColors2;
    font-size: 39px;
    border-radius: 19px;
    display: block;
    width: 367px;
    height: 70px;
}
.btn-main{
    color: $MainColors1;
}
.btn-main:hover{
    background-color: #07bd74;
    color: $MainColors1;
}
.Account-text{
    color: $MainColors2;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.Account-link{
    text-decoration: none;
    display: block;
    font-family: 'Aleo', serif;
}
#User-nav{
    color: $MainColors1;
    font-size: 40px;
    position: relative;
    bottom: 3px;
}
#User-nav:hover{
    cursor: pointer;
}
#Brand{
    font-size: 39px;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.nav-Dash{
    font-family: 'Aleo', serif;
    font-size: 40px;
    color: $MainColors1;
    text-decoration: none;
    align-self: center;
    line-height: 0.9;
    
}
.nav-Dash:hover{
    text-decoration: none;
    color: #4e4d4d;
}
#nav-drop{
    height: fit-content;
    align-self: center;
    line-height: 0.9;
}
.bg-main{
    background-image: linear-gradient(to bottom right,#04cc7c,#27E59A,#04cc7c);

}
#Sort-Input{
    width: 300px;
}
#prepend{
    background-color: $MainColors2;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Aleo', serif;
    color: $MainColors1;
    border: 0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
    min-height: 735px;
    padding: 0 50px;
    justify-content: center;
}
.Campcard{
    width: 275px;
    height: 430px;
    background-color: white;
    border-radius: 41px;
    box-shadow: 3px 6px 6px $BoxShadowsColors;
    text-decoration: none;
}
.Campcard:hover{
    cursor: pointer;
    text-decoration: none;
}

.Campcard-title{
    text-align: center;
    color: #a80600;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Aleo', serif;
}
.Campcard-img{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.Campcard-text{
    padding: 0 30px;
    text-align: center;
    font-family: 'Aleo', serif;
}
.Campcard-info{
    padding: 0 30px;
    text-align: left;
    font-family: 'Aleo', serif;
}
.CampPage-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.CampPage-nav-title{
    font-size: 60px;
    color: $MainColors1;
    text-align: center;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
}

.CampPage-nav-btn{
    display: block;
    position: relative;
    background-color: #E20000;
    color: $MainColors1;
    font-family: 'Aleo', serif;
    font-size: 30px;
    margin: auto;
    top: 15px;
}
#container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-width: fit-content;
}
.CampPage-logo{
    display: block;
    width: auto;
    height: 180px;
    position: relative;
    left: 10%;
}
.CampPage-mission{
    font-size: 55px;
    font-family: 'Aleo', serif;
    text-align: center;
    width: 800px;
    font-weight: bold;

}
.CampPage-description{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 6px $BoxShadowsColors;
}
.CampPage-review{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 6px $BoxShadowsColors;
}
.CampPage-details{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 6px $BoxShadowsColors;
}
.CampPage-card-title{
    font-size: 30px;
    text-align: center;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.CampPage-description-info{
    padding: 0 15px;
    font-size: 18px;
    font-family: 'Aleo', serif;
    text-align: center;
}
.CampPage-details-info{
    text-align: left;
    padding: 0 15px;
    font-family: 'Aleo', serif;
}
.CampPage-review-info{
    width: 500px;
    height: 270px;
    resize: none;
    border: 0;
    text-align: center;
    font-size: 17px;
}
.CampPage-AddReview{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 6px $BoxShadowsColors;
}
.CampPage-AddReview-title{
    font-size: 25px;
    font-family: 'Aleo', serif;
    text-align: center;
}
.Camppage-AddReview-Rating{
    width: 40%;
}
.CampPage-AddReview-textarea{
    width: 70%;
    height: 200px;
    display: block;
    resize: none;
    background-color: #e2e2e246;
    border-radius: 10px;
}
.CampPage-info{
    width: 100%;
    height: 100%;
    min-height: 528px;
}
.footer{
    width: 100%;
    height: 10px;
}
.CampPage-review-info:focus{
    cursor: default;
    outline: 0;
}
.Dashboard-title{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: $MainColors1;
}
.Dashboard-users-container{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 800px;
    height: 350px;
    box-shadow: 5px 5px 6px $BoxShadowsColors;
}
.Dashboard-total{
    font-size: 35px;
    text-align: center;
    color: $MainColors2;
}
.Dashboard-textarea{
    display: block;
    resize: none;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    text-align: center;
    color: $MainColors2;
    font-size: 25px;
    font-family: 'Aleo', serif;
}
.Dashboard-textarea:focus{
    cursor: default;
    outline: 0;
}
.Dashboard-bootcamp-container{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 800px;
    height: 350px;
    box-shadow: 5px 5px 6px $BoxShadowsColors;
}
.Dashboard-users-text{
    font-size: 20px;
    color: $MainColors2;
}
.Dashboard-form-container{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 800px;
    height: 700px;
    box-shadow: 5px 5px 6px $BoxShadowsColors;
}
.Dashboard-form-text{
    font-size: 25px;
    color: $MainColors2;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.btn-main2{
    background-color: $MainColors2;
    color: $MainColors1;
    display: block;
}
@media(max-width: 990px){
    .CampPage-logo{
        left: 0;
    }
    .CampPage-nav-btn{
        top: 0px;
    }
}
@media(max-width: 850px){
    .CampPage-mission{
        font-size: 4vw;
        text-align: left;
    }
}