@import url('https://fonts.googleapis.com/css?family=Aleo|Fredoka+One');

$MainColors1: white;
$MainColors2: #04FF9B;
$BoxShadowsColors: rgba(0,0,0,0.16);
$Offset: rgba(0,173,249,0.04);


.Main-Background{
    background-image: linear-gradient(to bottom right,#28F3A2,#27E59A,#21FF64);
    width: 100%;
    height: 925px;
}
.Main-Title{
    font-size: 68px;
    text-align: center;
    color: $MainColors1;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}
.Main-subtitle{
    color: $MainColors1;
    font-size: 40px;
    text-align: center;
    font-family: 'Aleo', serif;
    font-weight: normal;
}

.Main-login{
    width: 450px;
    height: 480px;
    background-color: white;
    border-radius: 38px;
    box-shadow: 8px 8px 6px $BoxShadowsColors;
}
.offset{
    background-color: $Offset;
    width: 100%;
    height: 100%;
}
.Main-Text{
    text-align: center;
    color: $MainColors2;
    font-size: 50px;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.Main-Input-text{
    text-align: center;
    color: $MainColors2;
    font-size: 39px;
    font-family: 'Aleo', serif;
    display: block;
}
.Main-Input{
    box-shadow: 1px 3px 6px $BoxShadowsColors;
}
.Main-button{
    background-color: $MainColors2;
    font-size: 39px;
    border-radius: 19px;
    display: block;
    width: 367px;
    height: 70px;
}
.btn-main{
    color: $MainColors1;
}
.btn-main:hover{
    background-color: #07bd74;
    color: $MainColors1;
}
.Account-text{
    color: $MainColors2;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.Account-link{
    text-decoration: none;
    display: block;
    font-family: 'Aleo', serif;
}
#User-nav{
    color: $MainColors1;
    font-size: 40px;
    position: relative;
    bottom: 3px;
}
#User-nav:hover{
    cursor: pointer;
}
#Brand{
    font-size: 39px;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.nav-Dash{
    font-family: 'Aleo', serif;
    font-size: 40px;
    color: $MainColors1;
    text-decoration: none;
    // display: block;
    // height: fit-content;
    // margin: auto;
    align-self: center;
    line-height: 0.9;
}
.nav-Dash:hover{
    text-decoration: none;
    color: $MainColors1;
}
#nav-drop{
    height: fit-content;
    align-self: center;
    line-height: 0.9;
}
.bg-main{
    background-image: linear-gradient(to bottom right,#28F3A2,#27E59A,#21FF64);
}